name: CD - Deploy to EC2

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            cd /home/ubuntu/youtube-scraper
            echo "===== Activating virtual environment ====="
            source venv/bin/activate
            echo "===== Pulling latest code ====="
            git pull origin main
            echo "===== Installing dependencies ====="
            pip install -r requirements.txt
            echo "===== Restarting FastAPI service ====="
            sudo systemctl restart fastapi
